@model Ogrenci

<!-- Öğrenci Düzenleme Formu Başlangıcı -->
<h2>Öğrenci Düzenleme</h2>
<hr>
<!-- Form Başlangıcı -->
<form asp-controller="Ogrenci" asp-action="Edit" method="post">
    <!-- Öğrenci ID'si -->
    <input type="hidden" asp-for="OgrenciId">
    
    <!-- Öğrenci Adı -->
    <div class="mb-3">
        <label asp-for="OgrenciAd" class="form-label">Öğrenci Adı</label>
        <input asp-for="OgrenciAd" class="form-control">
    </div>
    
    <!-- Öğrenci Soyadı -->
    <div class="mb-3">
        <label asp-for="OgrenciSoyad" class="form-label">Öğrenci Soyadı</label>
        <input asp-for="OgrenciSoyad" class="form-control">
    </div>
    
    <!-- Eposta -->
    <div class="mb-3">
        <label asp-for="Eposta" class="form-label">Eposta Adı</label>
        <input asp-for="Eposta" class="form-control">
    </div>
    
    <!-- Telefon -->
    <div class="mb-3">
        <label asp-for="Telefon" class="form-label">Telefon</label>
        <input asp-for="Telefon" class="form-control">
    </div>
    
    <!-- Kaydet Butonu -->
    <button type="submit" class="btn btn-secondary">Kaydet</button>
</form>
<!-- Form Bitişi -->
<!-- Öğrenci Düzenleme Formu Bitişi -->
