@{
    ViewData["Title"] = "Home Page";
}

<div style=" text-align: center;">
    <h4>KURS KAYIT SİTEMİZE HOŞGELDİNİZ</h4>
    <img src="~/img/Dershane-Gerekli-Mi.jpg" alt="Ana Sayfa Resmi" style="max-width: 60%; height: auto;" />
</div>


